body{
    color:#6FACCF;
    font-size: 14pt;
    text-align:center;
}

h1{
    color: #FF8080;
    font-size: 24pt;
    text-align: center;
}

table{
    background: none;
    align-self: center;
    text-align: center;

}