[title]{
    color: red;
}
.create_form {
    font-family: "Arial";
    font-size: 14px;
    align-content: center;
    width: 200px;
    height: 800px;
    border : 10px;
    padding: 20px;
    background: darkgray;
}

.multitext{
    height : 80px
    
}

